@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #F3F3F3;
  background: #080929;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-img{
  background-image: url('../assets/img/screenshot-main.png');
}

.img-2 {
  background-image: url('../assets/img/screenshot.png');
  background-repeat: no-repeat;
  overflow: hidden;
}


.from__field::placeholder {
  color: transparent;
}

.from__field:placeholder-shown~.from__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
  left: 10px;
}
